<div class="services-brand-container">
  <ul>
    <li>الكل</li>
    <li>brand 1</li>
    <li>brand 2</li>
    <li>brand 3</li>
    <li>brand 4</li>
    <li>brand 5</li>
    <li>brand 6</li>
    <li>brand 7</li>
    <li>brand 8</li>
    <li>brand 9</li>
    <li>brand 10</li>
    <li>brand 5</li>
    <li>brand 6</li>
    <li>brand 7</li>
    <li>brand 8</li>
    <li>brand 9</li>
    <li>brand 10</li>
  </ul>
</div>
<div class="service-category-container">
  <ul>
    <li>أصلي</li>
    <li>تجاري</li>
  </ul>
</div>
<div class="service-factory-container">
  <ul>
    <li>اليابان</li>
    <li>ألمانيا</li>
    <li>اليابان</li>
    <li>ألمانيا</li>
    <li>اليابان</li>
    <li>ألمانيا</li>
    <li>اليابان</li>
    <li>ألمانيا</li>
  </ul>
</div>
