<div class="first-part">
  <div class="subscribe-container">
    <div class="subscribe">
      <h3>الاشتراك في النشرة البريدية:</h3>
      <p>ابقَ على اطلاع بالعروض والأخبار والفعاليات الخاصة.</p>
    </div>
    <div class="footer-input">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="أدخل بريدك الإلكتروني"
        aria-label="email"
      />
      <i class="fa-solid fa-angle-left"></i>
    </div>
  </div>
  <div class="browsing-main-container">
    <div class="socials-loc-support">
      <img src="/assets/images/logo/logo.webp" alt="logoImg" />
      <div class="support">
        <p>+966 55 123 4567</p>
        <span>الدعم متاح على مدار الساعة</span>
      </div>
      <div class="loc">
        <p><span>📍</span>الرياض، طريق الملك فهد</p>
        <span>الرياض، طريق الملك فهد</span>
      </div>
      <ul class="social">
        <li><i class="bi bi-facebook"></i></li>
        <li><i class="bi bi-twitter-x"></i></li>
        <li><i class="bi bi-linkedin"></i></li>
        <li><i class="bi bi-instagram"></i></li>
      </ul>
    </div>
    <div>
      <div>
        <h3>الموارد</h3>
        <ul>
          <li>من نحن</li>
          <li>المتجر</li>
          <li>السلة</li>
          <li>العلامات التجارية</li>
        </ul>
      </div>
      <div>
        <h3>معلومات المتجر</h3>
        <ul>
          <li>الأكثر مبيعًا</li>
          <li>المنتجات الأعلى طلبًا</li>
          <li>أحدث الإضافات</li>
          <li>عروض مؤقتة</li>
          <li>قطع بأسعار مخفضة</li>
        </ul>
      </div>
      <div>
        <h3>الدعم</h3>
        <ul>
          <li>التقييمات</li>
          <li>تواصل معنا</li>
          <li>الدعم الفني</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="ownership">حقوق النشر © 2025 قطعنا. جميع الحقوق محفوظة.</div>
<div class="glowing-effect"></div>
