<!-------- Nav Section ----->
<div id="nav-container">
  <div id="account-summary">
    <div class="login-lang-container hover" id="login-lang-container">
      <span>Ar</span>
      <hr />
      <i class="fa-solid fa-angle-down hover"></i>
    </div>
    <div class="cart-holder">
      <div class="cart-container">
        <i class="fa-solid fa-cart-shopping"></i><span>1</span>
      </div>

      <img src="../assets/images/users/admin.png" alt="userImg" />
    </div>
  </div>
  <img src="../assets/images/logo/logo.webp" alt="logoImg" id="logo-index" />
  <div class="tablet-nav-el">
    <ul>
      <li class="hover need-log">الرئيسية</li>
      <hr />
      <li class="hover need-log">من نحن</li>
      <hr />
      <li class="hover need-log">العروض</li>
      <hr />
      <li class="hover need-log">متجر البيانات</li>
    </ul>
  </div>

  <img
    src="../assets/images/logo/logo.webp"
    alt="logoImg"
    id="tablet-login-img-view"
  />

  <div id="mobile-nav-icon">
    <div class="lang-container hover" id="tablet-lang-container">
      <span>Ar</span>
      <hr />
      <i class="fa-solid fa-angle-down hover"></i>
    </div>
    <div class="account-action-btn hover" id="login-btn">
      <button>سجل دخول</button>
      <i class="fa-solid fa-caret-left"></i>
    </div>
    <div class="nav-icon hover">
      <div><span></span><span></span></div>
    </div>
  </div>
</div>
<div id="nav-mob-container">
  <div class="mob-close-nav-container">
    <div class="mob-lang-container hover">
      <span>Ar</span>
      <hr />
      <i class="fa-solid fa-angle-down hover"></i>
    </div>
    <i class="fa-solid fa-xmark hover"></i>
  </div>
  <hr />
  <ul>
    <h3>الصفحات</h3>
    <li>
      <span>الرئيسية</span>
      <hr />
    </li>
    <hr />
    <li>
      <span>من نحن</span>
      <hr />
    </li>
    <hr />
    <li class="need-log">
      <span>العروض</span>
      <hr />
    </li>
    <hr />
  </ul>
  <ul>
    <h3>الصفحات</h3>
    <li class="need-log">
      <span>ملفي الشخصي</span><i class="fa-regular fa-user"></i>
    </li>
    <hr />
    <li class="need-log">
      <span>إدراج منتج</span><i class="fa-solid fa-plus"></i>
    </li>
    <hr />
    <li class="need-log">
      <span>إدراج عرض</span><i class="fa-solid fa-folder-plus"></i>
    </li>
    <hr />
  </ul>
</div>
